/home work/.idea/.idea.home work.dir/.idea/.gitignore
/data/kafka1/data/.lock
/data/kafka1/data/__confluent.support.metrics-0/00000000000000000000.index
/data/kafka1/data/test-0/00000000000000000000.index
/data/kafka1/data/__confluent.support.metrics-0/00000000000000000000.log
/data/kafka1/data/test-0/00000000000000000000.log
/data/kafka1/data/__confluent.support.metrics-0/00000000000000000000.timeindex
/data/kafka1/data/test-0/00000000000000000000.timeindex
/data/kafka1/data/test-0/00000000000000000001.snapshot
/source/Debug/6edbfd65-d96d-4507-97e2-f8028bb7203bFZClientDebug.log
/source/Debug/DebugFzTransport/Resources/access-template.accdb
/source/Debug/DebugFzTransport/Resources/access-template.mdb
/home work/.idea/.idea.home work.dir/.idea/aws.xml
/source/Debug/DebugFzTransport/AWSSDK.Core.dll
/source/Debug/AWSSDK.Core.dll
/source/Debug/DebugFzTransport/AWSSDK.Core.pdb
/source/Debug/AWSSDK.Core.pdb
/source/Debug/DebugFzTransport/AWSSDK.Core.xml
/source/Debug/AWSSDK.Core.xml
/source/Debug/DebugFzTransport/AWSSDK.S3.dll
/source/Debug/AWSSDK.S3.dll
/source/Debug/DebugFzTransport/AWSSDK.S3.pdb
/source/Debug/AWSSDK.S3.pdb
/source/Debug/DebugFzTransport/AWSSDK.S3.xml
/source/Debug/AWSSDK.S3.xml
/data/kafka1/data/cleaner-offset-checkpoint
/source/Debug/Legacy/dx13/DevExpress.Charts.v13.2.Core.dll
/source/Debug/DebugFzTransport/DevExpress.Charts.v19.1.Core.dll
/source/Debug/DebugFzTransport/DevExpress.CodeParser.v19.1.dll
/source/Debug/Legacy/dx13/DevExpress.Data.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.Data.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.Data.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Data.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Data.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Data.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Data.v19.1.xml
/source/Debug/DebugFzTransport/DevExpress.DataAccess.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.DataAccess.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.DataAccess.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.DataAccess.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.DataAccess.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.DataAccess.v19.1.UI.dll
/source/Debug/DebugFzTransport/de/DevExpress.DataAccess.v19.1.UI.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.DataAccess.v19.1.UI.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.DataAccess.v19.1.UI.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.DataAccess.v19.1.UI.resources.dll
/source/Debug/DebugFzTransport/DevExpress.DataAccess.v19.1.UI.xml
/source/Debug/DebugFzTransport/DevExpress.DataAccess.v19.1.xml
/source/Debug/DebugFzTransport/DevExpress.Diagram.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.Diagram.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Diagram.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Diagram.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Diagram.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Diagram.v19.1.Core.xml
/source/Debug/DebugFzTransport/DevExpress.Dialogs.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.Dialogs.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Dialogs.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Dialogs.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Dialogs.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Images.v19.1.dll
/source/Debug/DebugFzTransport/DevExpress.Map.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.Map.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Map.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Map.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Map.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Map.v19.1.Core.xml
/source/Debug/DebugFzTransport/DevExpress.Office.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.Office.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Office.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Office.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Office.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Office.v19.1.Core.xml
/source/Debug/DebugFzTransport/DevExpress.Pdf.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.Pdf.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Pdf.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Pdf.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Pdf.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Pdf.v19.1.Core.xml
/source/Debug/Legacy/dx13/DevExpress.PivotGrid.v13.2.Core.dll
/source/Debug/DebugFzTransport/DevExpress.PivotGrid.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.PivotGrid.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.PivotGrid.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.PivotGrid.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.PivotGrid.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.PivotGrid.v19.1.Core.xml
/source/Debug/Legacy/dx13/DevExpress.Printing.v13.2.Core.dll
/source/Debug/DebugFzTransport/DevExpress.Printing.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.Printing.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Printing.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Printing.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Printing.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Printing.v19.1.Core.xml
/source/Debug/Legacy/dx13/DevExpress.RichEdit.v13.2.Core.dll
/source/Debug/DebugFzTransport/DevExpress.RichEdit.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.RichEdit.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.RichEdit.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.RichEdit.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.RichEdit.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.RichEdit.v19.1.Core.xml
/source/Debug/DebugFzTransport/DevExpress.RichEdit.v19.1.Export.dll
/source/Debug/DebugFzTransport/DevExpress.Sparkline.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.Sparkline.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Sparkline.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Sparkline.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Sparkline.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Sparkline.v19.1.Core.xml
/source/Debug/DebugFzTransport/DevExpress.SpellChecker.v19.1.Core.dll
/source/Debug/DebugFzTransport/DevExpress.SpellChecker.v19.1.Core.xml
/source/Debug/Legacy/dx13/DevExpress.Utils.v13.2.dll
/source/Debug/Legacy/dx13/DevExpress.Utils.v13.2.UI.dll
/source/Debug/DebugFzTransport/DevExpress.Utils.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.Utils.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Utils.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Utils.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Utils.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Utils.v19.1.UI.dll
/source/Debug/DebugFzTransport/de/DevExpress.Utils.v19.1.UI.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Utils.v19.1.UI.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Utils.v19.1.UI.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Utils.v19.1.UI.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Utils.v19.1.UI.xml
/source/Debug/DebugFzTransport/DevExpress.Utils.v19.1.xml
/source/Debug/DebugFzTransport/DevExpress.Xpo.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.Xpo.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.Xpo.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.Xpo.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.Xpo.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.Xpo.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraBars.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraBars.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraBars.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraBars.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraBars.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraBars.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraBars.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraCharts.v13.2.dll
/source/Debug/Legacy/dx13/DevExpress.XtraCharts.v13.2.Extensions.dll
/source/Debug/Legacy/dx13/DevExpress.XtraCharts.v13.2.UI.dll
/source/Debug/Legacy/dx13/DevExpress.XtraCharts.v13.2.Web.dll
/source/Debug/Legacy/dx13/DevExpress.XtraCharts.v13.2.Wizard.dll
/source/Debug/DebugFzTransport/DevExpress.XtraCharts.v19.1.dll
/source/Debug/DebugFzTransport/DevExpress.XtraCharts.v19.1.Extensions.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraCharts.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraCharts.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraCharts.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraCharts.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraCharts.v19.1.UI.dll
/source/Debug/DebugFzTransport/DevExpress.XtraCharts.v19.1.UI.xml
/source/Debug/DebugFzTransport/DevExpress.XtraCharts.v19.1.Wizard.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraCharts.v19.1.Wizard.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraCharts.v19.1.Wizard.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraCharts.v19.1.Wizard.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraCharts.v19.1.Wizard.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraCharts.v19.1.Wizard.xml
/source/Debug/DebugFzTransport/DevExpress.XtraCharts.v19.1.xml
/source/Debug/DebugFzTransport/DevExpress.XtraDiagram.v19.1.dll
/source/Debug/DebugFzTransport/DevExpress.XtraDiagram.v19.1.xml
/source/Debug/DebugFzTransport/DevExpress.XtraDialogs.v19.1.dll
/source/Debug/DebugFzTransport/DevExpress.XtraDialogs.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraEditors.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraEditors.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraEditors.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraEditors.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraEditors.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraEditors.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraEditors.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraGauges.v13.2.Core.dll
/source/Debug/Legacy/dx13/DevExpress.XtraGauges.v13.2.Presets.dll
/source/Debug/Legacy/dx13/DevExpress.XtraGauges.v13.2.Win.dll
/source/Debug/DebugFzTransport/DevExpress.XtraGauges.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraGauges.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraGauges.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraGauges.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraGauges.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraGauges.v19.1.Core.xml
/source/Debug/Legacy/dx13/DevExpress.XtraGrid.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraGrid.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraGrid.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraLayout.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraLayout.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraLayout.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraLayout.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraLayout.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraLayout.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraLayout.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraMap.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraMap.v19.1.dll
/source/Debug/DebugFzTransport/DevExpress.XtraMap.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraNavBar.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraNavBar.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraNavBar.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraNavBar.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraNavBar.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraNavBar.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraNavBar.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraPdfViewer.v13.2.dll
/source/Debug/Legacy/dx13/DevExpress.XtraPivotGrid.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraPivotGrid.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraPivotGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraPivotGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraPivotGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraPivotGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraPivotGrid.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraPrinting.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraPrinting.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraPrinting.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraPrinting.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraPrinting.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraPrinting.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraPrinting.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraReports.v13.2.dll
/source/Debug/Legacy/dx13/DevExpress.XtraReports.v13.2.Extensions.dll
/source/Debug/Legacy/dx13/DevExpress.XtraReports.v13.2.LightSwitch.Design.dll
/source/Debug/Legacy/dx13/DevExpress.XtraReports.v13.2.LightSwitch.Server.dll
/source/Debug/Legacy/dx13/DevExpress.XtraReports.v13.2.Service.dll
/source/Debug/Legacy/dx13/DevExpress.XtraReports.v13.2.Web.dll
/source/Debug/DebugFzTransport/DevExpress.XtraReports.v19.1.dll
/source/Debug/DebugFzTransport/DevExpress.XtraReports.v19.1.Extensions.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraReports.v19.1.Extensions.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraReports.v19.1.Extensions.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraReports.v19.1.Extensions.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraReports.v19.1.Extensions.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraReports.v19.1.Extensions.xml
/source/Debug/DebugFzTransport/de/DevExpress.XtraReports.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraReports.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraReports.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraReports.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraReports.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraRichEdit.v13.2.dll
/source/Debug/Legacy/dx13/DevExpress.XtraRichEdit.v13.2.Extensions.dll
/source/Debug/DebugFzTransport/DevExpress.XtraRichEdit.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraRichEdit.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraRichEdit.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraRichEdit.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraRichEdit.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraRichEdit.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraScheduler.v13.2.Core.dll
/source/Debug/Legacy/dx13/DevExpress.XtraScheduler.v13.2.dll
/source/Debug/Legacy/dx13/DevExpress.XtraScheduler.v13.2.Extensions.dll
/source/Debug/Legacy/dx13/DevExpress.XtraScheduler.v13.2.iCalendarExchange.dll
/source/Debug/Legacy/dx13/DevExpress.XtraScheduler.v13.2.OutlookExchange.dll
/source/Debug/Legacy/dx13/DevExpress.XtraScheduler.v13.2.Reporting.dll
/source/Debug/Legacy/dx13/DevExpress.XtraScheduler.v13.2.Reporting.Extensions.dll
/source/Debug/Legacy/dx13/DevExpress.XtraScheduler.v13.2.VCalendarExchange.dll
/source/Debug/DebugFzTransport/DevExpress.XtraScheduler.v19.1.Core.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraScheduler.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraScheduler.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraScheduler.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraScheduler.v19.1.Core.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraScheduler.v19.1.Core.xml
/source/Debug/DebugFzTransport/DevExpress.XtraScheduler.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraScheduler.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraScheduler.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraScheduler.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraScheduler.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraScheduler.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraSpellChecker.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraSpellChecker.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraSpellChecker.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraSpellChecker.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraSpellChecker.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraSpellChecker.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraSpellChecker.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraSpreadsheet.v13.2.dll
/source/Debug/Legacy/dx13/DevExpress.XtraTreeList.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraTreeList.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraTreeList.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraTreeList.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraTreeList.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraTreeList.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraTreeList.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraVerticalGrid.v13.2.dll
/source/Debug/DebugFzTransport/DevExpress.XtraVerticalGrid.v19.1.dll
/source/Debug/DebugFzTransport/de/DevExpress.XtraVerticalGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/es/DevExpress.XtraVerticalGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/ja/DevExpress.XtraVerticalGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/ru/DevExpress.XtraVerticalGrid.v19.1.resources.dll
/source/Debug/DebugFzTransport/DevExpress.XtraVerticalGrid.v19.1.xml
/source/Debug/Legacy/dx13/DevExpress.XtraWizard.v13.2.dll
/source/Debug/DebugFzTransport/DocumentFormat.OpenXml.dll
/source/Debug/e63af4a7-3139-4978-b525-5b6bc4192994FZClientDebug.log
/source/Debug/ea23c7e5-c7f6-479c-a3e4-4daf683552a8FZClientDebug.log
/home work/.idea/.idea.home work.dir/.idea/encodings.xml
/source/Debug/EntityFramework.dll
/source/Debug/EntityFramework.SqlServer.dll
/source/Debug/EntityFramework.SqlServer.xml
/source/Debug/EntityFramework.xml
/source/Debug/DebugFzTransport/EnvDTE.dll
/source/Debug/DebugFzTransport/EnvDTE80.dll
/source/Debug/DebugFzTransport/ForaTransport.dll
/source/Debug/DebugFzTransport/ForaTransport.dll.config
/source/Debug/DebugFzTransport/ForaTransport.pdb
/source/Debug/LC/FZClient_en.mo
/source/Debug/LC/FZClient_ru.mo
/source/Debug/LC/FZClient_uk.mo
/source/Debug/FZClientDebug.application
/source/Debug/app.publish/FZClientDebug.exe
/source/Debug/FZClientDebug.exe
/source/Debug/FZClientDebug.exe.config
/source/Debug/FZClientDebug.exe.manifest
/source/Debug/FZClientDebug.log
/source/Debug/FZClientDebug.pdb
/source/Debug/DebugFzTransport/FZComponents.v19.dll
/source/Debug/DebugFzTransport/FZComponents.v19.pdb
/source/Debug/DebugFzTransport/FZControls.v2.dll
/source/Debug/FZControls.v2.dll
/source/Debug/DebugFzTransport/FZControls.v2.pdb
/source/Debug/FZControls.v2.pdb
/source/Debug/DebugFzTransport/FZControls.v2.xml
/source/Debug/FZControls.v2.xml
/source/Debug/DebugFzTransport/FZCoreAdapterQueries.v2.dll
/source/Debug/FZCoreAdapterQueries.v2.dll
/source/Debug/DebugFzTransport/FZCoreAdapterQueries.v2.pdb
/source/Debug/FZCoreAdapterQueries.v2.pdb
/source/Debug/DebugFzTransport/FZCoreAdapterQueries.v2.xml
/source/Debug/FZCoreAdapterQueries.v2.xml
/source/Debug/DebugFzTransport/FZCoreProxy.v2.dll
/source/Debug/FZCoreProxy.v2.dll
/source/Debug/DebugFzTransport/FZCoreProxy.v2.pdb
/source/Debug/FZCoreProxy.v2.pdb
/source/Debug/DebugFzTransport/FZCoreProxy.v2.xml
/source/Debug/FZCoreProxy.v2.xml
/source/Debug/DebugFzTransport/Helpers.v2.dll
/source/Debug/Helpers.v2.dll
/source/Debug/DebugFzTransport/Helpers.v2.pdb
/source/Debug/Helpers.v2.pdb
/source/Debug/DebugFzTransport/Helpers.v2.xml
/source/Debug/Helpers.v2.xml
/home work/.idea/.idea.home work.dir/.idea/indexLayout.xml
/data/kafka1/data/__confluent.support.metrics-0/leader-epoch-checkpoint
/data/kafka1/data/test-0/leader-epoch-checkpoint
/data/zookeeper/datalog/version-2/log.1
/data/zookeeper/datalog/version-2/log.2c
/data/zookeeper/datalog/version-2/log.6a
/data/zookeeper/datalog/version-2/log.41
/data/zookeeper/datalog/version-2/log.56
/data/kafka1/data/log-start-offset-checkpoint
/data/kafka1/data/meta.properties
/source/Debug/DebugFzTransport/Microsoft.IdentityModel.Logging.dll
/source/Debug/Microsoft.IdentityModel.Logging.dll
/source/Debug/DebugFzTransport/Microsoft.IdentityModel.Tokens.dll
/source/Debug/Microsoft.IdentityModel.Tokens.dll
/source/Debug/DebugFzTransport/Microsoft.IdentityModel.Tokens.xml
/source/Debug/Microsoft.IdentityModel.Tokens.xml
/source/Debug/DebugFzTransport/Microsoft.MSXML.dll
/source/Debug/DebugFzTransport/Microsoft.VisualStudio.Designer.Interfaces.dll
/source/Debug/DebugFzTransport/Microsoft.VisualStudio.Designer.Interfaces.xml
/source/Debug/DebugFzTransport/Microsoft.VisualStudio.OLE.Interop.dll
/source/Debug/DebugFzTransport/Microsoft.VisualStudio.Shell.Interop.8.0.dll
/source/Debug/DebugFzTransport/Microsoft.VisualStudio.Shell.Interop.dll
/source/Debug/DebugFzTransport/Microsoft.VisualStudio.TextManager.Interop.8.0.dll
/source/Debug/DebugFzTransport/Microsoft.VisualStudio.TextManager.Interop.dll
/data/zookeeper/data/myid
/source/Debug/DebugFzTransport/Newtonsoft.Json.dll
/source/Debug/Newtonsoft.Json.dll
/source/Debug/Newtonsoft.Json.xml
/source/Debug/DebugFzTransport/NGettext.dll
/source/Debug/NGettext.dll
/source/Debug/DebugFzTransport/NGettext.xml
/source/Debug/NGettext.xml
/source/Debug/DebugFzTransport/protobuf-net.dll
/source/Debug/protobuf-net.dll
/source/Debug/DebugFzTransport/protobuf-net.pdb
/source/Debug/protobuf-net.pdb
/source/Debug/DebugFzTransport/protobuf-net.xml
/source/Debug/protobuf-net.xml
/source/Debug/DebugFzTransport/protobuf-net-data.dll
/source/Debug/protobuf-net-data.dll
/source/Debug/DebugFzTransport/protobuf-net-data.pdb
/source/Debug/protobuf-net-data.pdb
/source/Debug/DebugFzTransport/protobuf-net-data.xml
/source/Debug/protobuf-net-data.xml
/data/kafka1/data/recovery-point-offset-checkpoint
/data/kafka1/data/replication-offset-checkpoint
/source/Debug/DebugFzTransport/ReportFormCore.v19.dll
/source/Debug/DebugFzTransport/ReportFormCore.v19.pdb
/source/Debug/DebugFzTransport/SaveControlSettings_v1.xml
/source/Debug/PublishTemplate/setup.html
/source/Debug/x64/SQLite.Interop.dll
/source/Debug/x86/SQLite.Interop.dll
/source/Debug/DebugFzTransport/stdole.dll
/source/Debug/DebugFzTransport/System.Data.SQLite.dll
/source/Debug/System.Data.SQLite.dll
/source/Debug/System.Data.SQLite.EF6.dll
/source/Debug/System.Data.SQLite.Linq.dll
/source/Debug/DebugFzTransport/System.Data.SQLite.xml
/source/Debug/System.Data.SQLite.xml
/source/Debug/DebugFzTransport/System.IdentityModel.Tokens.Jwt.dll
/source/Debug/System.IdentityModel.Tokens.Jwt.dll
/source/Debug/DebugFzTransport/System.IdentityModel.Tokens.Jwt.xml
/source/Debug/System.IdentityModel.Tokens.Jwt.xml
/source/Debug/DebugFzTransport/System.Net.Http.Formatting.dll
/source/Debug/System.Net.Http.Formatting.dll
/source/Debug/DebugFzTransport/System.Net.Http.Formatting.xml
/source/Debug/System.Net.Http.Formatting.xml
/source/Debug/DebugFzTransport/Types.Client.v2.dll
/source/Debug/Types.Client.v2.dll
/source/Debug/DebugFzTransport/Types.Client.v2.pdb
/source/Debug/Types.Client.v2.pdb
/source/Debug/DebugFzTransport/Types.Client.v2.xml
/source/Debug/Types.Client.v2.xml
/source/Debug/DebugFzTransport/Types.Contracts.v2.dll
/source/Debug/Types.Contracts.v2.dll
/source/Debug/DebugFzTransport/Types.Contracts.v2.pdb
/source/Debug/Types.Contracts.v2.pdb
/source/Debug/DebugFzTransport/Types.Core.v2.dll
/source/Debug/Types.Core.v2.dll
/source/Debug/DebugFzTransport/Types.Core.v2.dll.config
/source/Debug/Types.Core.v2.dll.config
/source/Debug/DebugFzTransport/Types.Core.v2.pdb
/source/Debug/Types.Core.v2.pdb
/source/Debug/DebugFzTransport/Types.K2.v2.dll
/source/Debug/Types.K2.v2.dll
/source/Debug/DebugFzTransport/Types.K2.v2.dll.config
/source/Debug/Types.K2.v2.dll.config
/source/Debug/DebugFzTransport/Types.K2.v2.pdb
/source/Debug/Types.K2.v2.pdb
/source/Debug/DebugFzTransport/Types.K2.v2.xml
/source/Debug/Types.K2.v2.xml
/source/Debug/DebugFzTransport/Types.MasterDataModel.v2.dll
/source/Debug/DebugFzTransport/Types.MasterDataModel.v2.pdb
/source/Debug/DebugFzTransport/UCFilters.v19.dll
/source/Debug/DebugFzTransport/UCFilters.v19.pdb
/source/Debug/DebugFzTransport/UCFrameWorkForFzClient.v19.dll
/source/Debug/DebugFzTransport/UCFrameWorkForFzClient.v19.dll.config
/source/Debug/DebugFzTransport/UCFrameWorkForFzClient.v19.pdb
/source/Debug/DebugFzTransport/Utils.Common.v2.dll
/source/Debug/Utils.Common.v2.dll
/source/Debug/DebugFzTransport/Utils.Common.v2.dll.config
/source/Debug/Utils.Common.v2.dll.config
/source/Debug/DebugFzTransport/Utils.Common.v2.pdb
/source/Debug/Utils.Common.v2.pdb
/source/Debug/DebugFzTransport/Utils.Common.v2.xml
/source/Debug/Utils.Common.v2.xml
/source/Debug/DebugFzTransport/Utils.Core.v2.dll
/source/Debug/Utils.Core.v2.dll
/source/Debug/DebugFzTransport/Utils.Core.v2.pdb
/source/Debug/Utils.Core.v2.pdb
/source/Debug/DebugFzTransport/Utils.Core.v2.xml
/source/Debug/Utils.Core.v2.xml
/source/Debug/DebugFzTransport/Utils.DataStructures.v2.dll
/source/Debug/DebugFzTransport/Utils.DataStructures.v2.pdb
/source/Debug/DebugFzTransport/Utils.Exporter.v19.dll
/source/Debug/DebugFzTransport/Utils.Exporter.v19.pdb
/source/Debug/DebugFzTransport/Utils.Expresso.v2.dll
/source/Debug/DebugFzTransport/Utils.Expresso.v2.pdb
/source/Debug/DebugFzTransport/Utils.Extensions.v3.dll
/source/Debug/DebugFzTransport/Utils.Extensions.v3.pdb
/source/Debug/DebugFzTransport/Utils.Extensions.v3.xml
/source/Debug/DebugFzTransport/Utils.LogQueue.dll
/source/Debug/DebugFzTransport/Utils.LogQueue.pdb
/source/Debug/DebugFzTransport/Utils.Sql.v2.dll
/source/Debug/Utils.Sql.v2.dll
/source/Debug/DebugFzTransport/Utils.Sql.v2.dll.config
/source/Debug/Utils.Sql.v2.dll.config
/source/Debug/DebugFzTransport/Utils.Sql.v2.pdb
/source/Debug/Utils.Sql.v2.pdb
/source/Debug/DebugFzTransport/Utils.Sql.v2.xml
/source/Debug/Utils.Sql.v2.xml
/home work/.idea/.idea.home work.dir/.idea/vcs.xml
/source/Debug/DebugFzTransport/VSLangProj.dll
/source/Debug/DebugFzTransport/websocket-sharp.dll
/source/Debug/websocket-sharp.dll
/source/Debug/DebugFzTransport/websocket-sharp.xml
/source/Debug/websocket-sharp.xml
